
<div class="background">
    <mat-card class="login-card">
        <div class="logo-container">
            <img src="../../../assets/images/logo.png" alt="Logo" class="logo">
        </div>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="form-feild">
                <mat-label>New Passoword:</mat-label>
                <input matInput type="email" id="guidePassword" formControlName="guidePassword" />
                <mat-error *ngIf="resetForm.get('guidePassword')?.hasError('required')" style="color: red;">Cannot be Empty.</mat-error>
            </mat-form-field>
            

            <button mat-raised-button color="primary" type="submit">Confirm</button>
        </form>
    </mat-card>
</div>
