<div class="landing-container">
    <div class="content">
        <div class="logo-section">
            <img src="../../../assets/images/logo.png" alt="Logo" class="logo">
        </div>
        <div class="text-section">
            <!-- <p> your ultimate companion for creating unforgettable adventures<p> -->
        </div>
        <div class="button-section">
            <button class="buttton" routerLink="/user/login">Login</button>
            <button class="button" routerLink="/user/signup">SignUp</button>
        </div>
        <div class="guide-section">
            <!-- <p class="guide-text">Register to become a guide</p>
            <button class="guide-button">Register</button> -->
            <a routerLink="/guide/signup">Register to become a Guide</a>
        </div>
    </div>
    <img src="../../../assets/images/landingImage.jpg" alt="Landing Image" class="landing-image">
</div>