<app-navbar></app-navbar>
<h2>Your Itenaries</h2>
<div *ngFor="let item of itenaries">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ item._id }}</mat-card-title>
            <mat-card-subtitle>{{ item.formattedDate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Places Count: {{ item.placesCount }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="showItenaryPlaces(item._id)">Show Places</button>
            <button mat-button *ngIf="!item.guide" (click)="hireGuide(item._id)">Guide Availability</button>
            <button *ngIf="item.guide && !item.guide.guideApproved">Guide Status - Pending</button>
            <button *ngIf="item.guide && item.guide.guideApproved" (click)="guidePayment()">Make Payment</button>
        </mat-card-actions>
    </mat-card>
</div>