<app-navbar></app-navbar>

<div class="container">
    <mat-card class="card">
        <img mat-card-image [src]="placeImages" alt="Napier Museum">
        <mat-card-content>
            <h2>{{ placeDetails.placeName }}</h2>
            <p>{{placeDetails.placeDescription}}</p>
            <mat-divider></mat-divider>
            <p>Rating: {{averageRating}} out of {{totalReviews}}</p>
            <button mat-raised-button color="accent" (click)="addReviews()">Add Review</button>
            <mat-divider></mat-divider>
            <h3>Reviews</h3>
            <mat-card class="guide-card" *ngFor="let review of reviews">
                <mat-card-content>
                    <p mat-line>Author: {{review.userId}}</p>
                    <p mat-line>Rating: {{review.rating}}</p>
                    <p mat-line>Review: {{review.review}}</p>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <h3>Guide Availability</h3>
            <div class="guide-availability">
                <mat-card class="guide-card" *ngFor="let guide of guideDetails">
                    <mat-card-content>
                        <p>{{guide.guideName}}</p>
                        <p>{{guide.guideEmail}}</p>
                        <p> Guide Rating: 5 </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card class="card">
        <mat-card-content>
            <h3>Blogs</h3>
            <div class="blogs">
                <div class="blog">
                    <mat-card  class="blog-card">
                        <mat-card-content>
                          <h4> blog.title </h4>
                          <p> blog.content </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card> -->
</div>