.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.guide-card, .blog-card {
  margin-top: 10px;
}

.card {
  margin-top: 20px;
}

.guide-availability {
  margin-top: 10px;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.blog {
  flex: 0 0 calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.blog h4 {
  margin-bottom: 5px;
}
